/* GLOBAL STYLES */
body {
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
  }

  .cover {
    display:inline-flexbox; 
    justify-content: center;

  }

   .btn {
    outline: 5px;
    justify-content: center;
    font-family: sans-serif;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    border-color:yellow;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none; 
    font-weight: bold; 
   
  }

  
    .btn a:hover, .btn a:active {
    border-radius: 4px;
    background: #fbd2d7;
    padding: 10px;
    color: black; 
}

  a {
    text-decoration: none;
    color: black;
    outline: solid 2px;
    padding: 10px;
    border-radius: 4px;
  }
  
  /* DEMO-SPECIFIC STYLES */
  .typewriter p {
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 35px; 
    text-decoration: underline;
    text-decoration-color: yellow;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
/* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    padding-top: 15%; 
    padding-bottom: 40%;
  }

  .typewriter h3 {
    height: 50px;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px; 
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .10em solid; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: 
      typing 1.5s steps(15, end),
      blink-caret 0.25s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: yellow }
  }
