:root {
    --background-color: white;
    --text-color: black;
}

* {
    text-decoration: none;
    box-sizing: border-box;
}


body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: sans-serif;
}

.navbar {
    position: fixed;
    background-color: var(--background-color);
    display: flex;
    width: 100%;
    height: 60px; 
    top: 0; 
    left: 0;
    right: 0;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px, 12px;
} 

li {
    display: inline; 
}

.logo {
    color: var(--text-color); 
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
    cursor: pointer;
    font-family: sans-serif;   
}


a { color: black; }

main a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: black;
}

.checkbtn {
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropbtn {
    display: none;
}

.dropdown-content{
    float: right; 
    line-height: 50px;
    margin: 0 5px;
    transition: .5s;
    font-weight: bold;
}

.dropdown-content a{
    display: inline;
    color: var(--text-color); 
    padding: 5px;
    color: lightgrey;
    border-radius: 4px; 
    transition: .4s;
}

/* Content body*/
main {
    background-color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    scroll-behavior: smooth;
    padding-top: 20px; 
}

::selection {
    color: black;
    background: #fcf55f;
}

::-moz-selection {
    color: black;
    background: #fcf55f;
}

.home {
    padding: 0; 
    display: flex;   
    align-items: center; 
    justify-content: center; 
}

.section-inner-2 {
    width: 60%;
    padding: 5%;
}



/*Resume page*/

.resume div {
    padding: 2%;
}
.heading {
    font-size: 16px;
    font-weight: bold; 
}
.resume li {
    display: list-item;
}

.resume .sublist {
    list-style: circle; 
}

.resume p{
    margin-top: 0; 
}

footer {
    font-size: 14px; 
    text-align: center; 
    padding: 5%;
}
 
/*Work page*/ 
.work {
    padding: 4% 10%; 
    justify-content: space-between;
}


.content {
    overflow-x: auto; 
    scrollbar-color: lightpink lightgrey; 
    display: flex;
    flex-wrap: nowrap;
}
/*
.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
}

.card {padding: 5px; }
*/

::-webkit-scrollbar{
    background-color: lightgrey;  
    width: 15px; 
}    
 
::-webkit-scrollbar-thumb{
    background-color: lightpink;  
    border-radius: 20px; 
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}



.card { 
    width: 30%; 
    justify-items: center;
    padding: 5px; 
    flex: 0 0 auto;
}


.card img {
    width: 100%; 
    height: 95%;
}

.card iframe {
    height: 500px;
}

.research, .research-contribution .card:hover, .card-text{
    opacity: 0.7; 
}

/* More page*/
.more { 
    padding: 5% 20%; 
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
}

.grid-item {
    overflow: hidden;
    margin: 3px;
}


.grid-item:hover img {
    transform: scale(1.2);
    opacity: 0.7; 
}

/*Contact page*/
.contact {
    padding: 4% 10%;   
} 

.contact-title { 
    font-size: 30px; 
    font-weight: bold;
}

.map-responsive {
    width: 45%;
} 

.map-responsive iframe{
    width: 100%;
    padding-right: 0; 
}  

.contact-info { 
    width: 40%;
    padding-left : 0; 
}




/*large screen*/
@media only screen and (min-width: 850px){
    
    .dropdown .active, .dropdown a:hover {
        background: #fbd2d7;
        padding: 10px;
        color: black; 
    }

    .resume {
        padding: 5%;  
    }
    .resume div {
        justify-content: left;
        display: flex;  
        padding: 2%;
    }

    .resume .heading{
        width: 30%;  
        float: left; 
        display: inline-table;
        inline-size: 25%; 
        font-size: 24px;  
        text-justify: center; 
    } 
    

    .resume .detail {
        padding-left: 0;  
        padding-bottom: 0; 
        display: inline-table;
        inline-size: 70%;
        float: right; 
    }


    
}


/* medium screens */
@media only screen and (max-width: 850px){       
    .navbar{
        top: 0;
        padding: 4% 2%; 
    }

    .logo {
        font-size: 20px;
    }

    .dropdown {
        position: relative;
        display: inline-block; 
        font-size: 13px;
    }

    .dropbtn {
        display: block;
        background-color: lightpink;
        font-size: 13px;
        font-family: sans-serif; 
        border: none;
        cursor: pointer;
        padding: 12px 15px;
        margin-right: 5px;
        min-width: 10%;  
        max-width: 100px;
    }

    .dropbtn:hover, .dropbtn:focus, .dropdown-content a:hover {
        background-color: lightcoral; 
    }

    .active {
        background-color: lightpink;
    }

    li {
        display: block;
    }

    .dropdown-content{ 
        display: none;
        width: 100px;
        position: absolute;
        background-color: lightpink;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        right: 0;
        transition: .5s;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        height: 40px;
        line-height: 46px; 
        color: var(--text-color); 
        padding: 0px 16px;
        text-decoration: none;
        display: block;
        text-align: center;  
    }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}

    /* Main content body*/
    main {
        font-size: 14px; 
        padding: 10%;
         
    }
    .home {
        display: inline;  
    }

    .resume {
    padding-top: 15%; 
   }

    .section-inner-2 {
        width: 100%;
        padding: 0; 
    }

    /*Work*/

    .work {
        padding: 10% 0px; 
    }

    .work h2 {
        font-size: 17px; 
    }

    .card {
        width: 100%;
    }

    .card iframe {
        height: 600px; 
    }

    /* More*/
    .more {
        padding: 20% 0;
    }

    /*Contact*/

    .contact {

        justify-items: center; 
        padding: 12% 2.5%; 
       }
    
    .contact-title {
        font-size: 20px;
        width: 100%;
    }  
    
    .map-responsive {
        width: 200px; 
    }
   .map-responsive iframe {
        width: 250px;
        height: 200px;
   }
    
    .contact-info {
        width: 100%;
    }



    /*Footer*/

    footer {
        font-size: 13px;
    }

 
}

/* Phone screens */
@media only screen and (max-width: 310px){    
    .navbar {  
        height: 11%; 
        padding-bottom: 0;         
    }
    main {
        padding: 2%;
        padding-top: 10%;
        font-size: 13px; 
    }

    .section-inner-1 {
        width: 80%;
        margin: 0 10%;
    }


    footer {
        font-size: 10px; 
    }
}
